#board {
	height: 600px;
	width: 600px;
	margin: auto;
	position: relative;
}

div > div {
 	display: inline-block;
 	width: 190px;
 	height: 190px;
 	border: 5px solid black;
 	float: left;
/* 	border-width: 190px;*/
 	/*padding: none;*/
 	font-family: 'Helvetica', sans-serif;
 	font-size: 75px;
 	text-align: center;
 	background-color: #FBFBFB;
 }	