h1 {
	text-align: center;
}

#board{
	background-color: gray;
	position: relative;
	width: 250px;
	height: 250px;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	padding-left: auto;
	padding-right: auto;
}

#box{
	background-color: gray;
	position: absolute;
	width: ;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

/* js board build out from Lorin 
	 var board = document.getElementById("board");
	 creates and numbers the divs
	 for(var i=0; i < 9; ++i) {
	 	var newDiv = document.createElement("div");
	 	board.appendChild(newDiv);
	 	newDiv.innerHTML = i;
	 		if (i % 3 != 0){
	 			newDiv.className = "rightRows";
	 	 newDiv.addEventListener("click").style.backgroundColor="blue";
	 		}
	 		else {
	 			newDiv.className = "topRow";
	 		};
	 			if //need to remove top border for 1,2 and bottom border for 6
	 };*/